{% extends "base.html" %}


{% block content %}
<section id="contact" class="bg-light">
    <div class="breadcramb-section bg-dark py-5">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container my-4">
        <div class="row bg-white">
            <div class="col-lg-6 shadow p-4 rounded vertical-align-middle">
                <h4>Get In Touch</h4>
                <hr>
                <ul class="list-group list-group-flush bg-light">
                    <li class="list-group-item fw-bold">Email: </li>
                    <li class="list-group-item">example.info@gmail.com</li>
                    <li class="list-group-item fw-bold">Phone:</li>
                    <li class="list-group-item">+8801767908876</li>
                    <li class="list-group-item fw-bold">Address:</li>
                    <li class="list-group-item">51/7 Uttar Badda, Dhaka</li>
                </ul>
            </div>
            <div class="col-lg-6 shadow p-4 rounded">
                <h4>Send a Message</h4>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="id_email">Name:</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="id_email">Email:</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        <small class="text-danger mt-0"><i class="fa-solid fa-circle-exclamation me-1"></i>{{ error }}</small>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group mb-3">
                        <label for="id_email">Subject:</label>
                        {{ form.subject }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="id_email">Message:</label>
                        {{ form.message }}
                    </div>
                    <input type="submit" class="py-2 px-5 btn btn-primary" value="Submit">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}